# Analise de Dados

### Desafio 
* Loja: Um magazine
* 5 Lojas
* Está querendo aumentar as vendas
* O que fazer ?
* Informação disponivel: Base de Dados

#### Passo 1 - Trazer sua base de dados para o Python e ver o que tem nela

In [ ]:
import pandas as pd # importado a biblioteca pandas e o "as" serve para dar um apelido ao pandas, nesse caso foi pd

tabela = pd.read_excel('Vendas.xlsx')# o .read e um metodo de leitura, nesse caso esta sendo lido um arquivo excel, mais poderia ser sql, json, html ...., o pareametro sera o arquivo que consta a base de dados que deve estar na mesma pasta 

display(tabela)# display e um print de forma mais estilizada

##### Análise Exploratoria

In [29]:
#Para verificar se os dados foram carregados corretamentes se usa o metodo head(), tail(), shape(), info()
tabela.head()# esse metodo imprime as 5 primeiras linhas da tabela
#tabela.tail()#esse metodo mostra as 5 ultimas linhas da tabela
#tabela.shape #metodo tras a qnt de linhas e colunas, obs a 1 coluna começa com 0 não se põe parenteses
#tabela.info()# metodo retorna o tipo de dado de cada coluna(int = inteiro, object = str, datetime = data)
#tabela.describe()# estatistica nativa do pandas em cima das colunas numericas
# um metodo tem que ser executado por vez

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71

#### Acessndo uma coluna

#### Passo 2 - Pegar um panorama geral sobre a sua base de dados

In [16]:
faturamento_total = tabela ['Valor Final'].sum() #para saber o faturamento total da empresa acessa a coluna do valor final e soma ela
display(faturamento_total)

41877063

#### Passo 3 - Começar sua analise Top -> Down

In [17]:
# faturamento por loja
faturamento_por_loja = tabela [['ID Loja', 'Valor Final']].groupby('ID Loja').mean()
display(faturamento_por_loja)

                                  Valor Final
ID Loja
Bourbon Shopping SP                419.365889
Center Shopping Uberlândia         415.878644
Iguatemi Campinas                  429.021178
Iguatemi Esplanada                 427.055528
Norte Shopping                     409.659727
Novo Shopping Ribeirão Preto       414.478884
Palladium Shopping Curitiba        408.817102
Parque Dom Pedro Shopping          418.152230
Passei das Águas Shopping          412.253500
Ribeirão Shopping                  421.719862
Rio Mar Recife                     420.289339
Rio Mar Shopping Fortaleza         412.440505
Salvador Shopping                  408.620099
Shopping Barra                     417.239525
Shopping Center Interlagos         407.979607
Shopping Center Leste Aricanduva   411.158075
Shopping Eldorado                  411.821839
Shopping Ibirapuera                403.618860
Shopping Iguatemi Fortaleza        416.519274
Shopping Midway Mall               414.501173
Shopping Morumbi                   400.617172
Shopping Recife                    417.599332
Shopping SP Market                 422.000735
Shopping União de Osasco           416.463079
Shopping Vila Velha                408.872697

#### Passo 4 - Entrar no detalhe para entender